* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0e0e0e;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: wheat;
  font-size: clamp(16px, 1vw, 20px);
}

header {
  width: 90%;
  padding: 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  position: sticky;
  top: 1rem;
  margin: 0 auto;
  border: 1px solid rgba(254, 254, 254, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  z-index: 1000;
}
header ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
header ul li:hover {
  color: #f1c40f; /* Change text color on hover */
  transform: scale(1.1); /* Slightly scale up the item */
}
header button {
  padding: 0.5rem 0.65rem;
  font-size: 0.8rem;
  background-color: wheat;
  color: #0e0e0e;
  border: none;
}
header button:hover {
  background-color: #e0c082; /* Change background color on hover */
}

.view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}
.view-1 img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.view-1 h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
}
.view-1 p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
  margin: 0.9rem 0;
  opacity: 0.6;
}
.view-1 p br {
  display: none;
}
.view-1 span {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.9;
}

main {
  width: 100%;
}

.view-2 {
  width: 100%;
  padding: 2rem 2.5rem;
  display: flex;
  justify-content: center;
}
.view-2 .marquee {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.view-2 .marquee::after {
  right: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 3rem;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to left, #0e0e0e, transparent);
}
.view-2 .marquee::before {
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 3rem;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to right, #0e0e0e, transparent);
}
.view-2 .marquee .text {
  display: flex;
  gap: 3rem;
  padding: 0 1.5rem;
  animation: marquee 10s linear infinite both;
}
.view-2 .marquee .text p {
  font-size: 1.5rem;
  font-weight: 100;
}

.view-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.view-3 .card {
  margin: 1rem 1rem;
  padding: 1rem 1.5rem;
  line-height: 1.6rem;
  height: 40%;
  width: 80%;
  border: 1px solid rgba(254, 254, 254, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(245, 222, 179, 0.053);
}
.view-3 .card p {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
  margin: 0.9rem 0;
  opacity: 0.6;
}
.view-3 .card h3 {
  opacity: 0.8;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 1020px) {
  body {
    min-height: 200vh;
  }
  header {
    width: 30%;
  }
  .view-1 img {
    width: 27%;
  }
  .view-1 h1 {
    font-size: 7.8rem;
    text-align: center;
    font-weight: 100;
    line-height: 0.97;
    opacity: 0.8;
  }
  .view-1 p {
    font-size: 1.5rem;
  }
  .view-1 p br {
    display: block;
  }
  .view-2 .marquee {
    width: 50%;
    padding: 3rem 3rem;
  }
  .view-3 {
    display: flex;
    flex-direction: row;
    padding: 2rem 2.5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .view-3 .card {
    width: 30%;
    min-width: 280px;
    min-height: 365px;
    height: auto;
    word-wrap: break-word;
  }
}